<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.visk.android.stockmanager">

    <application
        android:name="com.visk.android.stockmanager.StockApplication"
        android:allowBackup="true"
        android:icon="@drawable/launch_ic"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launch_ic"
        android:supportsRtl="true"

        android:theme="@style/Theme.RoomUserInfo">
        <activity
            android:name="com.visk.android.stockmanager.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove"></provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>